
:root {
--header-height: 3.5rem;--first-color: #197F5B;
--second-color: #EF9919; 
--text-color:  #080707;
--text-color-light: #F9F5F2; 
--body-color: #ffffff3d;
--body-font: 'Poppins', cursive;
--biggest-font-size: 2.25rem;
--h2-font-size: 1.25rem;
--normal-font-size: .938rem;
--smaller-font-size: .75rem;
--font-semi-bold: 600;
--z-fixed: 100;
}


@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
      --smaller-font-size: .813rem;
    }
  }

  html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  align-items: center;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }

  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .main {
    overflow: hidden;
  }

  .container {
    max-width: 768px;
    margin-inline: 1.5rem;
    text-align: center;
  }
  
  .grid {
    display: grid;
    align-content: center;
  }

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
    transition-timing-function: .3s;
  }
  
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav__logo,
.nav__toggle {
  color: white;
}

.nav__logo {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
  }
  
  .nav__logo:hover {
    color: var(--second-color);
  }
  
  .nav__toggle {
    font-size: 2rem;
    cursor: pointer;
  }

   .contactBody {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    height:700px;
    
}
.title{
    margin: 0 auto;
    width: 10%;
    text-align: center;
    padding-bottom: 5px;
    font-size: 60px;
    color: rgb(252, 252, 252);
  }
  #title-Tag-Line{
      font-size: 20px;
  }
/* This will center the form */
  .wrapper {
    width: 200;
    height: 100%;
    margin: 0 auto;
  }
/* form animation starts */
  .form {
    background: #EBEBEB;
    text-align: center;
    box-shadow: 0px 0px 20px 5px #AAA;
    border-radius: 100px;
    width: 80%;
    height: 400px;
    margin: 0;
    padding: 40px 300px;
    animation: bounce 1.5s infinite;
  }
.name {
    background-color: #F2F1F3;
    border-bottom: 5px solid #EBC310;
    color: black;
    width:300px;
  }
  ::-webkit-input-placeholder{
      color: rgb(11, 11, 11);
      font-size: 20px;
  }
  .name:hover{
    background-color: #F2F1F3;
    border-bottom: 5px solid #EF9919;
    height:30px;
    width:400px;
  }
  .email {
    background-color: #F2F1F3;
    border-bottom: 5px solid #EF9919;
    height:50px;
    width:300px;
  }
  .email:hover{
    background-color: #F2F1F3;
    border-bottom: 5px solid #EF9919;
    height:30px;
    width:380px;
  }
  .message {
    background-color: #F2F1F3;
    border-bottom: 5px solid rgb(195, 35, 17);
    overflow: hidden;
    height: 100px;
    width:300px;
  }
  .message:hover{
    background-color: #F2F1F3;
    border-bottom: 5px solid #EF9919;
    height: 100px;
    width:370px;
  }
  .submit{
    border-radius:5px;
    padding:10px;
    background-color: #F2F1F3;
    border: none;
    border-bottom: 5px solid #EF9919;
    transform: translateY(-120px);
  }
  .submit:hover{
    border-bottom: #EF9919;
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  }
  .entry{
    display: block;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 60px 5px #e2e2e1a7;
  }
  /* Shadow to make it look like form is floating  */
  .shadow{
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 100%;
    margin: 50px auto 0 auto;
    padding: 0 20px;
    animation: shadow 1.5s infinite;
  }
.submit{
    border: 10px;
    padding:10px;
    width:120px;
    color: white;
    background-color: #EF9919;
    border: none;
    border-bottom: 5px solid #EF9919;
    margin-top: 180px;
  }
  @keyframes bounce{
    0%{
    }
    50%{
      transform: translate(0, 8px);
    }
  }
  @keyframes shadow{
    0%{
    }
    50%{
      opacity: 0.8;
      width: 100%;
    }
  }
  
@media screen and (max-width: 750px) {
    .nav__menu {
      position: fixed;
      background-color: #fff;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      transition: .5s;
    }
  }
  
  .nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1.25rem;
    padding-top: 9rem;
  }
  
  .nav__link {
    color: var(--first-color);
    font-size: var(--h2-font-size);
    transition: color .3s;
  }
  
  .nav__link:hover {
    color: var(--second-color);
  }
  
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .show--menu {
    right: 0;
  }

  .home {
    background-color: var(--first-color);
  }
  
  .home__container {
    position: relative;
    max-width: 1024px;
    margin-inline: 1.5rem;
    padding: 5rem 0 2rem;
    row-gap: 1rem;
  }
  
  .home__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    order: 2;
  }
  
  .home__title {
    font-size: var(--biggest-font-size);
    color: white;
    font-weight: 320;
  }
  
  .title--color {
    color: var(--second-color);
    font-weight: var(--font-semi-bold);
  }
  
  .home__description {
    color: white;
    font-size: var(--h2-font-size);
  }
  
  .home__image {
    position: relative;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }
  
  .home__image--img {
    padding: 30px 40px 0;
  }
  
  .home__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    order: 3;
  }
  
  .home__social--link {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home__social--icon {
    font-size: 1.5rem;
    color: var(--first-color);
  }
  

  .balloon {
    position: absolute;
    background-color: #fff;
    padding: .75rem 1.5rem;
    border-radius: 50px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .balloon--lf {
    top: 2rem;
    left: 0;
  }
  
  .balloon--rt {
    bottom: 1rem;
    right: 0;
  }
  
  .balloon__title {
    font-size: var(--smaller-font-size);
    font-weight: 400;
  }
  
  .balloon__subtitle {
    font-weight: var(--font-semi-bold);
    color: var(--second-color);
  }
 
  .about__container {
    padding: 5rem 0 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  
  .about__title {
    font-size: var(--h2-font-size);
  }
  
  .about__data {
    padding-left: 1rem;
    border-left: 4px solid var(--first-color);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  
  .about__text {
    font-size: var(--smaller-font-size);
  }

  
.about__button--download {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .about__button {
    background-color: var(--first-color);
    color: white;
    font-size: var(--smaller-font-size);
    padding: .75rem 2.5rem;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    cursor: pointer;
  }
  
  .education__container {
    padding: 5rem 0;
  }
  
  .education__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .education__data {
    row-gap: 1rem;
  }
  
  .education__card {
    background-color: var(--suscribe-color);
    padding: 20px;
    border-radius: 2px;
    display:block;
    align-items: center;
    column-gap: 1rem;
    align-items: center;
  }
  
  .education__info {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
  }
  
  .eduaction__info--title {
    font-size: 1rem;
  }
  
  .education__info--description {
    font-size: .935rem;
  }
  
  .eduaction__info--date {
    font-size: var(--smaller-font-size);
  }
  

  .skills__container {
    padding: 5rem 0 2rem;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  
  
  .skills__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .skills__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border-radius: 8px;
    transition: transform .3s;
  }
  
  
  .skills__icon--content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
  }
  
  .skills__icon {
    font-size: 2rem;
  }
  
  .skills__data {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: .5rem;
  }
  
  .experience {
    background-color: var(--suscribe-color);
  }
  
  .experience__container {
    padding: 5rem 0 2rem;
  }
  
  .experience__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .experience__card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 20px;
    text-align: center;
  }
  
  .experience__img {
    width: max-content;
    margin: 0 auto;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    background-color: var(--first-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 70%;
  }  

  .portfolio__container {
    padding: 20rem 0 2rem;
  }
  
  .portfolio__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .portfolio__project--filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .portfolio__project--title {
    font-size: 1rem;
  }
  
  .portfolio__project--count {
    font-size: var(--smaller-font-size);
  }
  
  .portfolio__projects {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-content: center;
  }
  
  .contact__container {
    align-self: center;
  }
  .contact__title {
    text-align: center;  
  }
  
  .contact__content {
    align-items: center;
    row-gap: 1rem;
  }
  
  .contact__data {
    row-gap: 16rem;
  }
  
  .contact__info {
    display: flex;
    column-gap: 16rem;
    
  }


  .footer {
    background-color: var(--first-color);
  }
  
  .footer__container {
    padding: 2rem;
    text-align: center;
  }
  
  .footer__copy {
    color: rgb(255, 255, 255);
  }
  
  .copy--size {
    font-size: 1.5rem;
    color: white;
  }
  
 
  @media screen and (max-width: 320px) {
    .container {
      margin-inline: 1rem;
    }
  
    .home__container {
      padding: 4rem 0 2rem;
    }
  
    .home__title {
      font-size: 1.5rem;
    }
  
    .home__description {
      color: white;
      font-size: .75rem;
    }
  
    .home__social--link {
      width: 35px;
      height: 35px;
    }
  
    .home__social--icon {
      font-size: 1.3rem;
    }
  
    .balloon {
      padding: .5rem 1rem;
    }

    .suscribe__button {
      font-size: .75rem;
    }
  
    .experience__data--title {
      font-size: .975rem;
    }
  
    .experience__data--date {
      font-size: .75rem;
    }
  
    .contact__data {
      row-gap: 2rem;
      
    }
  
    .contact__info--icon {
      padding: 15px;
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 576px) {
    .education__data {
      grid-template-columns: 1fr;
      column-gap: 16rem;
    }
  
    .education__card {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      row-gap: 16rem;
    }
  
    .skills__content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  
    .portfolio__projects {
      display: flexbox;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  

  @media screen and (min-width: 767px) {
    .container {
      margin-inline: auto;
    }
  
    .home__container,
    .about__container,
    .skills__container,
    .experience__container,
    .portfolio__container {
      padding: 8rem 0 2rem;
    }
  
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
  
    .nav__menu {
      width: initial;
    }
  
    .nav__close,
    .nav__toggle {
      display: none;
    }
  
    .nav__list {
      flex-direction: row;
      padding: 0;
      align-items: center;
      column-gap: 3rem;
    }
  
    .nav__link {
      color: white;
      font-size: .75rem;
      font-weight: 400;
    }
  
    .home__data {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      order: 1;
    }
  
    .home__image {
      max-width: 400px;
    }
  
    .home__img--bg {
      order: 2;
    }
  
    .home__social {
      order: 3;
    }
  

  }
  